body {
	color: #fff;
	background: –moz-linear-gradient ( bottom,  rgb(159, 152, 117), rgb(189, 185, 151));
	background: -webkit-linear-gradient(bottom,  rgb(159, 152, 117), rgb(189, 185, 151));
	background: -webkit-gradient(bottom, rgb(159, 152, 117), rgb(189, 185, 151));
	background: -ms-linear-gradient(bottom, rgb(159, 152, 117), rgb(189, 185, 151));
}
a
{
	color: rgb(128, 51, 0);
}
h4
{
	color: #543;
}

#navhelper a:hover {
	color: #fff;
}

.selectedToggle
{
	border-color: rgb(128, 51, 0);
}

.layer
{
	color: #111;
	background-color: rgb(159, 152, 117) !important;
}
.layer p 
{
}

.layerFooter
{
	color: #444;
	background: -webkit-linear-gradient(top,  rgba(159, 152, 117, 0.94), rgba(159, 152, 117, 255));
	/*background-color: rgb(159, 152, 117) !important;*/
	opacity: 1.0;
}
.layerFooter:hover {
	color: #eee;
}


/* 3D renderer */

 .blancs { fill: rgb(153, 153, 153); } .blancs-step-15 { fill: rgb(255, 255, 255); } .blancs-step-14 { fill: rgb(255, 255, 255); } .blancs-step-13 { fill: rgb(255, 255, 255); } .blancs-step-12 { fill: rgb(255, 255, 255); } .blancs-step-11 { fill: rgb(255, 255, 255); } .noirs { fill: rgb(66, 66, 66); } .noirs-step-15 { fill: rgb(110, 110, 110); } .noirs-step-14 { fill: rgb(110, 110, 110); } .noirs-step-13 { fill: rgb(110, 110, 110); } .noirs-step-12 { fill: rgb(110, 110, 110); } .noirs-step-11 { fill: rgb(110, 110, 110); } .selectedPiece { fill: rgb(0, 0, 132); } .selectedPiece-step-15 { fill: rgb(0, 0, 220); } .selectedPiece-step-14 { fill: rgb(0, 0, 220); } .selectedPiece-step-13 { fill: rgb(0, 0, 220); } .selectedPiece-step-12 { fill: rgb(0, 0, 220); } .selectedPiece-step-11 { fill: rgb(0, 0, 220); } .HARDbrown { fill: rgb(76, 30, 0); } .HARDbrown-step-15 { fill: rgb(128, 51, 0); } .HARDbrown-step-14 { fill: rgb(128, 51, 0); } .HARDbrown-step-13 { fill: rgb(128, 51, 0); } .HARDbrown-step-12 { fill: rgb(128, 51, 0); } .HARDbrown-step-11 { fill: rgb(128, 51, 0); } .HARDcream { fill: rgb(153, 138, 76); } .HARDcream-step-15 { fill: rgb(255, 230, 128); } .HARDcream-step-14 { fill: rgb(255, 230, 128); } .HARDcream-step-13 { fill: rgb(255, 230, 128); } .HARDcream-step-12 { fill: rgb(255, 230, 128); } .HARDcream-step-11 { fill: rgb(255, 230, 128); }

.way {
	fill: #0d0 !important;
	opacity: 0.5 !important;

}
.way.piece {
	fill: #d00 !important;
	opacity: 1.0 !important;
}
.square {
	stroke: #000 !important;
	 stroke-linejoin: round;
	stroke-width: 0.4px !important;
}
.incheck {
	fill: #d00 !important;
	opacity: 0.5 !important;
}


