body {
	color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
a
{
	color: rgb(159, 152, 117);
}
h4
{
	color: #777;
}
h2
{

	border-width: 0px 0px 0.1em 0px;
	border-color: #000;
}
#navhelper {
	color: rgb(159, 152, 117);
	background-color: #0000 !important;
	opacity: 0.8;
}
#navhelper a {
	color: rgb(159, 152, 117);
}
#navhelper a:hover {
	color: #fff;
}

.selectedToggle
{
	border-color: #666;
}

.layer
{
	color: #ccc;
	background-color: #333 !important;
}
.layer p 
{
}

.layerFooter
{
	color: #555;
	opacity: 1.0;
}
.layerFooter:hover {
	color: #fff;

}


/* 3D renderer */


.blancs { fill: rgb(144, 144, 153); } .blancs-step-15 { fill: rgb(241, 241, 255); } .blancs-step-14 { fill: rgb(241, 241, 255); } .blancs-step-13 { fill: rgb(241, 241, 255); } .blancs-step-12 { fill: rgb(241, 241, 255); } .blancs-step-11 { fill: rgb(241, 241, 255); } .noirs { fill: rgb(60, 60, 60); } .noirs-step-15 { fill: rgb(100, 100, 100); } .noirs-step-14 { fill: rgb(100, 100, 100); } .noirs-step-13 { fill: rgb(100, 100, 100); } .noirs-step-12 { fill: rgb(100, 100, 100); } .noirs-step-11 { fill: rgb(100, 100, 100); } .selectedPiece { fill: rgb(0, 0, 132); } .selectedPiece-step-15 { fill: rgb(0, 0, 220); } .selectedPiece-step-14 { fill: rgb(0, 0, 220); } .selectedPiece-step-13 { fill: rgb(0, 0, 220); } .selectedPiece-step-12 { fill: rgb(0, 0, 220); } .selectedPiece-step-11 { fill: rgb(0, 0, 220); } .HARDbrown { fill: rgb(35, 25, 10); } .HARDbrown-step-15 { fill: rgb(59, 42, 17); } .HARDbrown-step-14 { fill: rgb(59, 42, 17); } .HARDbrown-step-13 { fill: rgb(59, 42, 17); } .HARDbrown-step-12 { fill: rgb(59, 42, 17); } .HARDbrown-step-11 { fill: rgb(59, 42, 17); } .HARDcream { fill: rgb(95, 91, 70); } .HARDcream-step-15 { fill: rgb(159, 152, 117); } .HARDcream-step-14 { fill: rgb(159, 152, 117); } .HARDcream-step-13 { fill: rgb(159, 152, 117); } .HARDcream-step-12 { fill: rgb(159, 152, 117); } .HARDcream-step-11 { fill: rgb(159, 152, 117); }


.way {
	fill: #0d0 !important;
	opacity: 0.5 !important;

}
.way.piece {
	fill: #d00 !important;
	opacity: 1.0 !important;
}

.square {
	stroke: #000 !important;
	 stroke-linejoin: round;
	stroke-width: 0.4px !important;
}
.incheck {
	fill: #d00 !important;
	opacity: 0.5 !important;
}


