@font-face {
	font-family: 'Cantarel';
	src: url('../font/Cantarell-Regular.ttf');
}
body {
	font: 400 1.2em Cantarel, sans-serif;
	line-height: 1.3;
	color: #fff;
	background-color: #fff;
	margin: 0px !important;
	overflow: hidden;
}
a
{
	color: #08d;
	font-weight: 600;
	text-decoration: none;
}

h1{
	font: 600 1.6em Cantarel, sans-serif;
	color: #fff;
}
h2
{	font: 400 1.5em Cantarel, sans-serif;
	border: solid;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 1em;
	color: #fff;
	margin-top: 2em;
}
#UI_content h2:first-child {

	margin-top: 0em;
}
#endGameLayer h2:first-child {

	margin-top: 1em;
}
h3
{	font: 400 1.3em Cantarel, sans-serif;
	line-height: 1.3;
	color: #fff;
}
h4
{	font: 600 1.2em Cantarel, sans-serif;
	line-height: 1.3;
	color: #ccc;
}
p
{
	text-align: justify;
	color: #ddd;
}
#navhelper {
	color: #000;
	font: 400 1.3em Cantarel, sans-serif !important;
	line-height: 1.4;
	background-color: #0000 !important;
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}
#navhelper a {
	color: #333;
	font: 800 1.3em Cantarel, sans-serif !important;
	text-decoration: none;
	cursor: pointer;
}
#navhelper a:hover {
	color: #fff;
	text-decoration: none;
}
.right-side {
	float: right;
	margin-right: 0.5em;
}
.left-side {
	float: left;
	margin-left: 0.5em;
}
#close-footer {
	color: #000;
	font: 800 1.3em Cantarel, sans-serif !important;
	background-color: #ccc !important;
	opacity: 1.0;
	padding: 1em;
	text-align: center;
}
#close-menu {
	color: #000;
	cursor: pointer;
}
#close-menu:hover {
	color: #0d0;
}
#show-menu:hover {
	color: #fff;
}

#UI, #PromotionUI{
	position: fixed;
	z-index: 1100;
	overflow: auto !important;
	padding: 0px;

}
#RulesUI{
	position: fixed;
	z-index: 1100;
	overflow: auto !important;
	padding: 0px;

}


#UI_content, #PromotionUI_content {
	font: 400 1.2em Cantarel, sans-serif !important;
	margin: 0em;
	padding: 1em;


	background-color: #000 !important;
	opacity: 0.8;
	/*overflow: hidden !important;*/
}

#RulesUI_content {
	font: 400 1.2em Cantarel, sans-serif !important;
	margin: 0em;
	padding: 1em;


	background-color: #000 !important;
	opacity: 0.8;

}
.layer
{
		padding-left: 1em;
		padding-right: 1em;

}
@media screen and (min-width: 1000px) {

	.layer
	{
			padding-left: 20vh;
			padding-right: 20vh;

	}
}
/*========================================================*/
/*============      endGameLayer        =================*/
/*======================================================*/

#endGameLayer
{
	position: fixed;
	z-index: 1100;
	padding: 0px;

	width: 70%;
	height: 70vw;
	top:0px;

	overflow: hidden !important;
  margin-top: 15vh; /* poussé de la moitié de hauteur de viewport */

  margin-left: 15vw; /* poussé de la moitié de hauteur de viewport */


}

#endGameLayerContent
{

	background-color: #000 !important;
	opacity: 0.8;
	font: 400 1.2em Cantarel, sans-serif !important;
	min-height: 50vh;
	margin: 0em;	overflow: auto !important;
	/*overflow: hidden !important;*/
}
#endGameLayer h1
{
	color: #fff;
	font: 400 2em Cantarel, sans-serif !important;
	padding: 0em;
	margin: 0em;

}
#endGameLayer p
{
	color: #fff;
	font: 400 1em Cantarel, sans-serif !important;
	padding: 1em;
	margin: 0em;

}
#endGameLayerFooter
{
	color: #000;
	font: 800 1.6em Cantarel, sans-serif !important;
  line-height: 20vh; /* hauteur de ligne (identique) */
	background-color: #ccc !important;
	opacity: 1.0;

	text-align: center;
	height: 20vh;

  white-space: nowrap; /* interdiction de passer à la ligne */


}
/*=============================*/

@media screen and (min-width: 1000px) {

	#UI_content, #PromotionUI_content, #RulesUI_content {
		padding-left: 20vh;
		padding-right: 20vh;
	}
}

/* 3D renderer */

.HARDbrown {
	fill: #773800 !important;
	opacity: 1.0 !important;
}
.HARDcream {
	fill: #d5ca71 !important;
	opacity: 1.0 !important;
}

.way {
	fill: #0d0 !important;
	opacity: 0.5 !important;
}
.way.piece {
	fill: #d00 !important;
	opacity: 0.5 !important;
}

